@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  h1{
    font-size: 2.5rem;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    color: rgb(0, 90, 112);
    text-align: center;
    margin: 2rem 0;
  }
  
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(33% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 400px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#60a3ac 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#60a3ac 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#60a3ac 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

body{
    background-color: #E0F2F1;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(0, 90, 112);
    font-weight: 400;
}

html{
  scroll-behavior: smooth;
}

header, footer{
    display: flex;
    background-color: rgb(0, 131, 143);
  }

footer{
  margin-top: 40px;
  padding-top: 15px;
}
  
header{
  background-color: rgba(0, 131, 143, 0);
  transition: background-color 0.3s;
  position: absolute;
  width: 100%;

}
header:hover{
  background-color: rgb(0, 131, 143);
  transition: background-color 0.3s;
}

.logo{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.cont{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: auto;
    color: #fff;
    font-size: 25px;
    align-items: center;
}


.kartinka{
  height: 617px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.sometext{
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding-top: 250px;
  padding-left: 125px;
}

.rest{
  font-family: 'Comfortaa', sans-serif;
}

.bla{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  margin-right: 20px;
  margin-left: auto;
}

.telnum{
  text-align: center;
  color: #E0F2F1;
  width: 100%;
  padding-bottom: 5px;
  margin-left: 75px;
  font-family: 'Comfortaa', sans-serif;

}

.arrow{
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.1s;
  display: none;
}

@media (max-width: 645px){
  header {
      font-size: 10px;
    }
  .bla div svg{
    width: 35px;
    height: 35px;
  }
    }

@media (max-width: 450px){
  .sometext{
    padding-left: 39px;
  }
  .telnum{
    margin-left: 0px;
  }

  }

@media (max-width: 825px){
  .inner{
    padding: 0px;
  }
}

.loc img{
  width: 70vw;
  height: 40vw;
}
.loc{
  display: none;
}

.location{
  display: flex;
  justify-content: center;
}

.active{
  display: inline-block;
}

.leftbtn{
  position: relative;
  padding-top: 300px;
  left: 90px;

}
.rightbtn{
  position: relative;
  padding-top: 300px;
  right: 90px;

}


/* :root { */
  /* --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff); */
  /* --gray: #E0F2F1;
  --darkgray: #E0F2F1;
} */

/* select { */
  /* Reset Select */
  /* appearance: none;
  outline: 10px rgb(44, 152, 179);
  border: 0;
  box-shadow: none; */
  /* Personalize */
  /* flex: 1;
  padding: 0 1em;
  color: rgb(0, 90, 112);
  background-color: #E0F2F1;
  background-image: none;
  cursor: pointer;
} */
/* Remove IE arrow */
/* select::-ms-expand {
  display: none;
} */
/* Custom Select wrapper */
/* .select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;

} */
/* Arrow */
/* .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: rgb(0, 90, 112);
  transition: .25s all ease;
  pointer-events: none; 
   color: #E0F2F1;
} */


/* Other styles*/
/* body {
  color: #fff;
  background: var(--background-gradient);
} */

/* a {
  font-weight: bold;
  color: rgb(0, 90, 112);
  text-decoration: drop-shadow;
  padding: .25em;
  border-radius: .50em;
  background: pink;
} */

/* 가운데정렬 - position,transform*/
.containerselect {
  position : absolute;
  top: 50%;
  left : 50%;
  transform :
  translate(-50%,-50%); 
}

/* 가운데정렬 - flexbox*/
/* 근데 이건 1행 정렬이된다. */
/* .container {
  display: flex;
  justify-content: center;
  align-items: absolute;
} */

option{
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: larger;
}  
select{
  font-size: 20px;}


.button-60 {
  align-items: center;
  appearance: none;
  background-color: #E0F2F1;
  border: 1px solid rgb(0, 90, 112);
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 90, 112);
  cursor: pointer;
  display: inline-flex;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  transition: 0.5s;
}


.button-60:hover {
  background-color: rgb(0, 90, 112);
  border-color: rgb(0, 90, 112);
  color:#E0F2F1;
  transition: 0.5s;
  scale: 1.5;
}

.book{
  position: absolute;
  right: -500px;
  background-color: #E0F2F1;
  color:rgb(0, 90, 112);
  /* position: relative; */
  width: 500px;
  height: 350px;
  border-radius: 0 0 0 5%;
  z-index: 2;
  display: none;
  overflow : hidden;
}

.booktxt{
  /* position: relative;
  top: 35px; */
  margin-top: 35px;
  padding-bottom: 35px;
}

button{
  margin-top: 20px !important;

}
.containerselect{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.bookdate{
  display: flex;
  justify-content: space-between;
}

input[type='date']{
  width: 120px;
}

.blabla{
  display: flex;
  justify-content: space-around;
  font-size: smaller;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}

.Rooms, .rest, .location_text{
 margin-top: 45px; 
 color: rgb(0, 90, 112)
}

.bookingresult{
  width: 330px;
  height: 150px;
  background-color: #E0F2F1;
  border-radius: 5%;
  color: rgb(0, 90, 112);
  display: none;
  z-index: 3;
  top: -150;
  position: absolute;
  left: 40%;
  transition: 0.5s;
  opacity: 0.85;
  display: none;
  overflow: hidden;
}

.resulttext{
  margin-top: 45px;
  font-size: medium;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}

.resultlogo{
  padding: 10px 10px;
}


/* .reviews{
  /* width: 70vw;
  height: 40vw; */
  /* display: flex;
  justify-content: space-evenly;
} */ 
/* 
.car{
  background-color: #E0F2F1;
  color: rgb(0, 90, 112);
  border-radius: 5px;
  width: 220px;
  height: 120px;
  font-size: 10px;
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  font-size: 10px;
  padding-left: 5px;
  z-index: 2;
  position: relative;
  top: -150px;
}

.username{
  font-size: 20px;
}

.otziv{
  font-size: 15px;
} */

@keyframes bla{
  0%{
    transform: rotateY(0deg);
  }
  25%{
    transform: rotateY(90deg);
  }
  50%{
    transform: rotateY(180deg);

  }
  /* 100%{
    transform: rotateX('360deg');
  } */
}

.locicon:hover{
  animation-name: bla;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.fenominalno{
  position: absolute;
  width: 100%;
  display: none;
  z-index: 5;
}
.fenominalno img{
  width: 100vw;
  height: 100vh;
}